<h1>Add new book</h1>
<%= form_tag("create", :method=>"post") do %>
<p><label for="book_title">Title</label>:
<%= text_field_tag(:title)  %></p>
<p><label for="book_price">Price</label>:
<%= text_field_tag(:price)  %></p>
<p><label for="book_subject">Subject</label>:
<%= collection_select(:book,:subject_id,Subject.all,:id,:name) %></p>
<p><label for="book_description">Description</label><br/>
<%= text_field_tag(:description)  %></p>
<%= submit_tag("Create", :class=>"btn") %>
<% end %>
